This will be a helper for analyzing grocery lists. This uses excel lists made in a specific format based off of GIANT, which may obtainable from scanning receipts.

First we set up the prerequisites and import the list file.

In [1]:
# Set up prerequisites
import pandas as pd
import math
# Import the file into pandas, works for current format.
f=pd.read_excel('list0.xlsx',header=3)

In [2]:
type(f.head())

pandas.core.frame.DataFrame

Just testing to see if it's working.

## Filtering

It's important to have a 'special' category, for outlier purchases and for scalability sake. In this example, the S actually stands for splurge items. Those should be filtered out of the list. Does not to be run if no special category present, but can be without issue.

In [6]:
s=f[f['S?']=='S']; s=s.drop('S?', axis=1);
f0=f[f['S?']!='S']; f0=f0.drop('S?', axis=1);

In [13]:
f0.head(5)

,Name,Pre-Sale Price,Unit Price,Qty.,Unit,Net Cost,Type,Brand
5,Bake Shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Traditional Pizza Crust,4.99,3.50,1.0,ct.,3.5,NaN,NaN
7,Donut Crossiant,NaN,0.70,2.0,ct.,1.4,NaN,NaN
8,Dairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Shredded Mozzarella,NaN,0.25,16.0,oz.,4.0,NaN,NaN

GIANT stores have specific entry types depending on product, which are printed in bold above all items in that category. The following code is based on that type of entry.

There are bound to be inconsistencies between different stores, but larger pool of data provides allows for merging of store-specific types, or better definition along those types. It also allows for improved entry schema, ultimate goal of receipt scanning.

In [10]:
type_names=[]; type_index=[]; # Local values, to be used in same scope
for ii in f0.index:
    if math.isnan(f0.loc[ii,'Net Cost']):
        type_names.append(f0.loc[ii,'Name']); type_index.append(ii);

In [ ]:
# Initialize current index, assign types in descending order.
curr_type_index=0;next_index=type_index[curr_type_index+1]
for ii in f0.index:
    if ii==next_index:
        # Catches when moving to next type group.
        curr_type_index+=1  
    if curr_type_index+1<len(type_index):
        # Catches final type group
        curr_type=type_names[curr_type_index];
        next_index=type_index[curr_type_index+1];
    f0.loc[ii,'Type']=curr_type;

In [108]:
# Different method, significantly simpler and more reliable.
f0_prod=f0.dropna(thresh=3);
f0_type=f0[f0.count(1)<3]['Name']

f0_ti=int(f0_type.index[0]); f0_pi=int(f0_prod.index[-1])
for ii in range(f0_ti,f0_pi+1):
    try:
        curr_type=f0_type.loc[ii];
    except KeyError:
        f0_prod.loc[ii,'Type']=curr_type

In [112]:
f0_prod

,Name,Pre-Sale Price,Unit Price,Qty.,Unit,Net Cost,Type,Brand
6,Traditional Pizza Crust,4.99,3.50,1.000,ct.,3.50000,Bake Shop,NaN
7,Donut Crossiant,NaN,0.70,2.000,ct.,1.40000,Bake Shop,NaN
9,Shredded Mozzarella,NaN,0.25,16.000,oz.,4.00000,Dairy,NaN
10,Shredded Mild Cheddar,NaN,0.25,16.000,oz.,4.00000,Dairy,NaN
11,Rice Pudding,2.79,0.42,6.000,ct.,2.52000,Dairy,NaN
12,Whole Milk,NaN,4.00,0.500,gal.,2.00000,Dairy,NaN
13,White Eggs,NaN,1.79,18.000,ct.,32.22000,Dairy,NaN
15,Sliced Pepperoni,NaN,9.33,0.500,lb.,4.66500,Deli,NaN
16,Sliced Provolone,NaN,9.92,0.500,lb.,4.96000,Deli,NaN
18,Whole Kosher Dill Pickles,NaN,2.29,1.000,qt.,2.29000,Grocery,NaN
19,Shunky Cream of Chicken Soup,NaN,2.19,1.000,can,2.19000,Grocery,Campbell's
20,Strawberry Preserves,NaN,1.99,1.000,jar,1.99000,Grocery,NaN
21,Bread Flour,NaN,0.40,5.000,lb.,2.00000,Grocery,NaN
22,Pizza Sauce,NaN,1.29,1.000,jar,1.29000,Grocery,DelGrosso
23,Thai Jasmine Rice,NaN,1.59,2.000,lb.,3.18000,Grocery,NaN
24,Oats,NaN,0.05,42.000,oz.,2.10000,Grocery,NaN
25,Tri-Color Rotini,NaN,0.89,1.000,ct.,0.89000,Grocery,NaN
26,Mac and Cheese,NaN,1.32,4.000,box,5.28000,Grocery,Annie's
27,Flour Tortillas,NaN,2.50,1.000,bag,2.50000,Grocery,NaN
28,Regular Spaghetti,NaN,0.89,1.000,ct.,0.89000,Grocery,NaN
29,Fettucini,NaN,0.89,1.000,ct.,0.89000,Grocery,NaN
30,Kettle Cooked Jalapeno Chips,NaN,1.99,2.000,bag,3.98000,Grocery,Martin's
32,Nutrition Shake,NaN,1.80,6.000,ct,10.80000,Health and Beauty Care,Ensure Dark Chocolate
34,St. Louis Pork Ribs,3.29,2.99,1.450,lb,4.33550,Meat,NaN
35,Chicken Breast Patty,NaN,4.99,1.000,bag,4.99000,Meat,Tyson
36,Chicken Breast,NaN,2.99,1.430,lb,4.27570,Meat,NaN
38,Buffalo Chicken,NaN,5.00,1.000,box,5.00000,Prepared Foods,NaN
40,Cherry Tomatoes,NaN,NaN,2.000,ct.,2.00000,Produce,Nature's Sweet
41,Green Beans,NaN,1.99,0.600,lb,1.19400,Produce,NaN
42,Spring Mix,5.00,3.99,1.000,box,3.99000,Produce,NaN
43,Avocados,1.25,1.00,2.000,ct.,2.00000,Produce,NaN
44,Lemons,0.67,0.50,2.000,ct.,1.00000,Produce,NaN
45,Sweet Onions,1.29,1.19,2.110,lb.,2.51090,Produce,NaN
46,Red Peppers,NaN,1.67,2.000,ct.,3.34000,Produce,NaN
47,Whole Baby Bella Mushrooms,NaN,2.49,1.000,ct.,2.49000,Produce,NaN
48,Kale,NaN,0.99,0.610,lb,0.60390,Produce,NaN
49,Russet Potatoes,NaN,0.60,5.000,lb.,3.00000,Produce,NaN
50,Shallots,NaN,1.39,0.210,lb.,0.29190,Produce,NaN
51,Garlic,NaN,0.79,1.000,ct.,0.79000,Produce,NaN
52,Red Grapes,2.49,1.99,1.880,lb,3.74120,Produce,NaN
53,Mangoes,NaN,0.99,3.000,ct.,2.97000,Produce,NaN
55,Salmon Fillet,9.99,7.49,0.965,lb.,7.22785,Seafood,Fresh

Products now have associated type, automatically generatable.

## Cleanup

Now it's time for some cleanup. I'd like to first change the NaN values to blank values for readability. For simplicity I'll do it for f0_prod

In [ ]:
for col in list(f):
    for ii in range(len(f[col])):
        f_ii=f.loc[ii,col]
        try:
            if math.isnan(f_ii):
                f.loc[ii,col]=''
        except:
            # Usually want to suppress this
            # print('Exception at ' + str(ii))
            continue