This will be a helper for analyzing grocery lists. This uses excel lists made in a specific format based off of GIANT, which may obtainable from scanning receipts.

First we set up the prerequisites and import the list file.

In [1]:
# Set up prerequisites
import pandas as pd
import math
# Import the file into pandas, works for current format.
f=pd.read_excel('list0.xlsx',header=3)

In [18]:
type(f.head())

pandas.core.frame.DataFrame

Just testing to see if it's working. Now it's time for some cleanup. I'd like to first change the NaN values to blank values for readability.

In [16]:
for col in list(f):
    for ii in range(len(f[col])):
        f_ii=f.loc[ii,col]
        try:
            if math.isnan(f_ii):
                f.loc[ii,col]=''
        except:
            # Usually want to suppress this
            # print('Exception at ' + str(ii))
            continue

In [17]:
f.head()

,Name,S?,Pre-Sale Price,Unit Price,Qty.,Unit,Net Cost,Type,Brand
0,Impossible Burger Meat,S,,0.75,12,oz.,9,,Impossible Brand
1,Thick Cut Sliced Bacon,S,,3.99,1,lb.,3.99,,
2,Italian Herbs Stir-in Paste,S,,3.99,1,ct.,3.99,,
3,Good Butter,S,,0.49,8,oz.,3.92,,Vermont Creamery
4,Good Mozzarella,S,,0.62,8,oz.,4.96,,BelGioioso